{% extends 'dashboard.html'%}
{% block content %}
<table class="table">
    <thead>
        <tbody>
            <tr>
                <th>Order ID</th>
                <th>Product Details</th>
                <th>Order Total</th>
                <th>Delivered at</th>
                <th>Received On</th>
                <th>Status</th>
            </tr>
        </tbody>
        <tbody>
            {% for i in orders %}
            <tr>
                <td class="product-thumbnail">{{i.id}}</td>
                <td class="product-name">
                    <ol class="list-group">
                    {% for j in i.items %}
                        <li class="list-group-item">
                          <a href="{% url 'mysite:single'%}?id={{i.id}}"><img src="/media/{{j.photo}}" style="height:50px;width:50px;border-radius:50%;"></a>  {{j.name}} &#8377;{{j.price}} X {{j.quantity}}
                        </li>
                    {% endfor %}
                    </ol>   
                </td>
                <td class="product-price">{{i.amount}}</td>

                <td class="product-subtotal">{{i.delivered_at}}</td>
                <td class="">{{i.received_on}}</td>
                <td class="">
                        <script>
                            $(function(){
                                let c = $('#stbtn{{i.id}}').html();
                                if(c=='Pending'){
                                    $('#stbtn{{i.id}}').addClass('btn-danger');
                                }else{
                                    $('#stbtn{{i.id}}').addClass('btn-success');
                                }
                            })
                            </script>
                    <button class="btn" id="stbtn{{i.id}}">{{i.status}}</button>
                </td>
                <td>{{i.delivered_on}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>

<script>
    
</script>
{% endblock %}