{% extends "base.html"%}
{% load staticfiles %}
{% block body %}
<!-- breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
			<li><a href="{% url 'index'%}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
			<li class="active">Product Details</li>
		</ol>
	</div>
</div>
<!-- //breadcrumbs -->
<!-- single -->
<div class="single">
	<div class="container">
		<div class="col-md-4 products-left">
			<div class="categories animated wow slideInUp" data-wow-delay=".5s">
				<h3>Categories</h3>
				<ul class="cate">
					{% for i in allcat %}
					<li><a href="">{{i.0}}</a></li>
						<ul>
							{% for j in i %}
							<li><a href="{% url 'mysite:showproducts' %}?searchcat={{i.0}}&&scat={{j.category_name}}">{{j.category_name}}</a></li>
							{% endfor %}
						</ul>
					
					{% endfor %}
				</ul>
			</div>
			<div class="men-position animated wow slideInUp" data-wow-delay=".5s">
				<a href="{% url 'mysite:single'%}?id={{max.p_id}}"><img src="/media/{{max.p_image}}" alt=" " class="img-responsive" /></a>
				<div class="men-position-pos" style="background:rgba(0,0,0,0.5);">
					<h4>{{max.p_cat}}</h4>
					<h5><span>{{max.p_offer}}%</span> Flat Discount</h5>
				</div>
			</div>
		</div>
		<div class="col-md-8 single-right">
			<div class="col-md-5 single-right-left animated wow slideInUp" data-wow-delay=".5s">
				<div class="flexslider">
					<ul class="slides">
						<li data-thumb="/media/{{d.img1}}">
							<div class="thumb-image"> <img src="/media/{{d.img1}}" data-imagezoom="true" class="img-responsive"> </div>
						</li>
						<li data-thumb="/media/{{d.img2}}">
							<div class="thumb-image"> <img src="/media/{{d.img2}}" data-imagezoom="true" class="img-responsive"> </div>
						</li>
						<li data-thumb="/media/{{d.img3}}">
							<div class="thumb-image"> <img src="/media/{{d.img3}}" data-imagezoom="true" class="img-responsive"> </div>
						</li>
						<li data-thumb="/media/{{d.img4}}">
							<div class="thumb-image"> <img src="/media/{{d.img4}}" data-imagezoom="true" class="img-responsive"> </div>
						</li>
						
					</ul>
				</div>
				<!-- flixslider -->
					<script defer src="{% static 'js/jquery.flexslider.js'%}"></script>
					<link rel="stylesheet" href="{% static 'css/flexslider.css'%}" type="text/css" media="screen" />
					<script>
					// Can also be used with $(document).ready()
					$(window).load(function() {
						$('.flexslider').flexslider({
						animation: "slide",
						controlNav: "thumbnails"
						});
					});
					</script>
				<!-- flixslider -->
			</div>
			<div class="col-md-7 single-right-left simpleCart_shelfItem animated wow slideInRight" data-wow-delay=".5s">
				<h3>{{d.pname}}</h3>
				<h5>				<span class="badge badge-success badge-pill">{{d.offer}}%</span><em>discount</em></h5>
				<h4><del class="item_price">&#8377;{{d.pprice}}</del> &#8377;{{d.sprice}}</h4>
				<div class="rating1">
					<span class="starRating">
						<input id="rating5" type="radio" name="rating" value="5">
						<label for="rating5">5</label>
						<input id="rating4" type="radio" name="rating" value="4">
						<label for="rating4">4</label>
						<input id="rating3" type="radio" name="rating" value="3" checked>
						<label for="rating3">3</label>
						<input id="rating2" type="radio" name="rating" value="2">
						<label for="rating2">2</label>
						<input id="rating1" type="radio" name="rating" value="1">
						<label for="rating1">1</label>
					</span>
				</div>
				<div class="description">
					<h5><i>Product Details</i></h5>
					<ul>
					{% for i in d.des %}
						<p><li>{{i}}</li></p>
					{% endfor %}
					</ul>
				</div>
				<div class="color-quality">
					<div class="color-quality-left">
						<h5>Brand : </h5>
						{{d.brand}}
					</div>
					<div class="color-quality-right">
						<h5>Category :</h5>
						{{d.pcat}}
					</div>
					<div class="clearfix"> </div>
				</div>
				<form action="{% url 'mysite:cart'%}" method="post">
					{% csrf_token %}
					<input type="hidden" name="item_id" value="{{d.pid}}">
					<input type="hidden" name="amount" value="{{d.sprice}}">
					<input type="hidden" name="add" value="1">
					<p><button class="item_add btn btn-warning">add to cart </a></p>
				</form>
			</div>
			<div class="clearfix"> </div>
			<div class="bootstrap-tab animated wow slideInUp" data-wow-delay=".5s">
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Description</a></li>
						<li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Reviews({{trv}})</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="home" aria-labelledby="home-tab">
							<h5>Product Brief Description</h5>
							<p>{{d.des}}</p>
						</div>
						<div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="profile" aria-labelledby="profile-tab">
							<div class="bootstrap-tab-text-grids">
								{% for j in rv %}
								<div class="bootstrap-tab-text-grid">
									<div class="bootstrap-tab-text-grid-left">
										<img src="/media/{{j.profile}}" alt=" " class="img-responsive" />
									</div>
									<div class="bootstrap-tab-text-grid-right">
										<ul>
											<li><a href="#">{{j.name}}</a></li>
										</ul>
										<p>{{j.msz}}.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
								{% endfor %}
								<div class="add-review">
									<h4>add a review</h4>
									<form method="post" action="{% url 'mysite:add_review'%}" enctype="multipart/form-data">
										{% csrf_token %}
										<input type="hidden" value="{{d.pid}}" name="pid">
										<input type="text" name="name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
										<div class="row" style="margin:10px 0px 10px 0px;padding:0px;">
											<div class="col-md-8" style="margin:0px;padding:0px;">
												<input type="email" name="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="" style="width:100%">												 
											</div>
											<div class="col-md-4">
												<input type="file" name="profile" style="width:50%;">		 
											</div>
										</div>
										<textarea type="text" name="msz"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
										<input type="submit" value="Send" >
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //single -->
<!-- single-related-products -->
<div class="single-related-products">
	<div class="container">
		<h3 class="animated wow slideInUp" data-wow-delay=".5s">Related Products</h3>
		<p class="est animated wow slideInUp" data-wow-delay=".5s">Here are the all related products of which you searched.
			These are filtered according to their id.
		</p>
		<div class="new-collections-grids">
			{% for j in rel %}
			<div class="col-md-3 new-collections-grid">
				<div class="new-collections-grid1 animated wow slideInLeft" data-wow-delay=".5s">
					<div class="new-collections-grid1-image">
						<a href="{% url 'mysite:single'%}?id={{j.id}}" class="product-image"><img src="/media/{{j.photo}}" alt=" "style="height:200px;" class="img-responsive"></a>
						<div class="new-collections-grid1-image-pos">
							<a href="{% url 'mysite:single'%}?id={{j.id}}">Quick View</a>
						</div>
					</div>
					<h4><a href="{% url 'mysite:single'%}?id={{j.id}}">{{j.product_name}}</a></h4>
					<p>{{j.brand.brand_name}} &nbsp; {{j.product_category.category_name}}</p>
					<div class="new-collections-grid1-left simpleCart_shelfItem">
							<form action="{% url 'mysite:cart'%}" method="post">
								{% csrf_token %}
								<input type="hidden" name="item_id" value="{{j.id}}">
								<input type="hidden" name="amount" value="{{j.sale_price}}">
								<input type="hidden" name="add" value="1">
								<p><i>&#8377;{{j.price}}</i> <span class="item_price">&#8377;{{j.sale_price}}</span></p>
								<p><button class="item_add btn btn-warning">add to cart </a></p>
							</form>
						
					</div>
				</div>
			</div>
			{% endfor %}
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //single-related-products -->
{% endblock %}